<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
<main>
    <h1>Наши пользователи</h1>
    <div class="inner" th:each="user : ${usersList}">
        <a th:href="@{/admin/show(id=${user.getId()})}" th:text="${user.getName()} + ' ' + ${user.getLastName()} + ', ' + ${user.getAge()}"></a>
    </div>
</main>
<footer>
    <a href="/admin/create">Добавить пользователя</a>
    <a th:href="@{/logout}">Выйти</a>
</footer>
</body>
</html>