<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link type="Image/x-icon" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">
    <link rel="stylesheet" href="../../static/css/users_show.css" th:href="@{/css/users_show.css}" type="text/css">

    <title>User</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center" id="header-row">
            <div class="col-3" id="user-col">
                <article>
                    <span id="email" th:text="${user.getEmail()}"></span> with roles: <span id="roles" th:each="role : ${user.getRoleList()}">
							<span th:text="${role.getShortRole()}"></span>
                    </span>
                </article>
            </div>
            <div class="col-md-auto align-items-center">
                <a href="/logout" class="btn" id="logout">Logout</a>
            </div>
        </div>
    </div>
</header>
<div class="row mt-3">
    <div class="col-2">
        <div class="nav nav-pills flex-column" id="role-pills-tab" role="tablist" aria-orientation="vertical">
            <div th:if="${user.getRoleList().size() == 2}" class="nav-link" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin" aria-selected="false">Admin</div>
            <div class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user" aria-selected="true">User</div>
        </div>
    </div>
    <div class="col-10" id="monitor">
        <div class="tab-content" id="role-pills-tabContent">
            <div  th:if="${user.getRoleList().size() == 2}" class="tab-pane fade" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                <div class="row mb-2">
                    <h1>Admin panel</h1>
                </div>
            </div>
            <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="row mb-2">
                    <h1>User information page</h1>
                </div>
                <div class="row border border-1" id="about">
                    <div class="col mb-2 mt-2">
                        <h5>About user</h5>
                    </div>
                </div>
                <div class="row border border-1 justify-content-center" >
                    <div class="col-11" id="columns">
                        <div class="row border border-right-0 border-left-0 border-top-1 border-bottom-1 mt-3 pt-2 pb-2" id="columns-name">
                            <div class="col-1">ID</div>
                            <div class="col-3">First Name</div>
                            <div class="col-2">Last Name</div>
                            <div class="col-1">Age</div>
                            <div class="col-3">Email</div>
                            <div class="col-2">Role</div>
                        </div>
                    </div>
                    <div class="col-11" id="user">
                        <div class="row border border-right-0 border-left-0 border-top-1 border-bottom-1 pt-2 pb-2 mb-5 bg-light">
                            <div class="col-1" th:text="${user.getId()}">ID</div>
                            <div class="col-3" th:text="${user.getName()}">First Name</div>
                            <div class="col-2" th:text="${user.getLastName()}">Last Name</div>
                            <div class="col-1" th:text="${user.getAge()}">Age</div>
                            <div class="col-3" th:text="${user.getEmail()}">Email</div>
                            <div class="col-2" th:text="${user.getRoleList().getFirst().getShortRole()}">Role</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>