p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
h2 {
    margin-bottom: 10px;
}
a:hover {
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-bottom: 8px;
}
#about {
    background: #F7F7F7;
    font-weight: bolder;
}
#about row{
    border: 1px solid grey;
}

#columns {
    background-color: white;
}
#columns-name {
    font-weight: bold;
}
#role-pills-tab div {
    font-weight: initial;
}
header {
    background-color: #343A40;
    color: white;
    font-size: 20px;
}
#logout {
    color: #7C868E;
}
#email {
    font-weight: bold;
}

footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
footer a {
    border-radius: 20px;
    padding: 7px;
    background-color: beige;
    display: inline-block;
    margin: 0 5px 0 0;

}
footer a:visited {
    background-color: beige;
}
footer a:hover {
    background-color: #95958EFF;
}
body {
    display: flex;
    flex-direction: column;
}
form input {
    text-decoration: none;
    color: black;
    font-size: 17px;
    border-radius: 20px;
    padding: 7px;
    background-color: beige;
    display: inline-block;
    border: none;
    margin-right: 5px;
}
form input:hover {
    background-color: #95958EFF;
    cursor: pointer;
}
article {
    font-size: 0.9em;
}